.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.title {
  font-size: 1.5em;
  color: orange;
  margin-bottom: 5vh;
}

header {
  width: 70%;
  margin: 20px auto;
  height: 20px;
}

.chatbox {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  background-color: #eee;
  border: 1px solid orange;
}

.chat-content {
  height: 75%;
  width: 80%;
  overflow: auto;
  background-color: #fff;
  border: 1px solid orange;
}

.chat-controls {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

input {
  width: 80%;
  height: 30px;
  padding: 10px;
  border: 1px solid orange;
}

button {
  width: 70px;
  cursor: pointer;
}